<!DOCTYPE html>
<html lang="en">

<head>
	
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Edumin - Bootstrap Admin Dashboard </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
    <link rel="stylesheet" href="/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
	<!-- Datatable -->
    <link href="/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

	<!-- side navbar -->
	<%- include('../../../components/teacherNavbar.ejs') %>
    
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
				    
                <div class="row page-titles mx-0" style="background-color: #262932;">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4 style="color: #fff;">My Courses</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active"><a href="/dahsboard/teacher">Courses</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0);">My courses</a></li>
                        </ol>
                    </div>
                </div>
				
				<div class="row">
					<div class="col-lg-12">
						<ul class="nav nav-pills mb-3">
							<li class="nav-item"><a href="#list-view" data-toggle="tab" class="nav-link btn-primary mr-1">List View</a></li>
							<li class="nav-item"><a href="#grid-view" data-toggle="tab" class="nav-link btn-primary">Grid View</a></li>
						</ul>
					</div>
					<div class="col-lg-12">
						<div class="row tab-content">
							<div id="list-view" class="tab-pane fade col-lg-12">
								<div class="card">
									<div class="card-header" style="background-color: #262932;">
										<h4 class="card-title" style="color: #fff;">My Courses</h4>
										<a href="add-professor.html" class="btn btn-primary">+ Add new</a>
									</div>
									<div class="card-body">
										<div class="table-responsive">
											<table id="example3" class="display" style="min-width: 845px" >
												<thead>
													<tr>
														<th style="color: #fff;">Thumbnail</th>
														<th style="color: #fff;">Title</th>
														<th style="color: #fff;">Description</th>
														<th style="color: #fff;">Price</th>
														<th style="color: #fff;">Students apply</th>
														<th style="color: #fff;">Public course</th>
														<th style="color: #fff;">Date created</th>
														<th style="color: #fff;">Action</th>
													</tr>
												</thead>
												<tbody>

													<% data.forEach(e => { %>
														<tr>
															<td><img class="" width="180" src="<%= e.thumbnail %>" alt=""></td>
															<td style="color: #fff;"><%= e.title%></td>
															<td style="color: #fff;"><%= e.description %></td>
															<td style="color: #fff;"><%= e.price %></td>
															<td style="color: #fff;"><%= e.students %></td>
															<td style="color: #fff;"><% if (e.public == 0) { %>
															False
															<% } else { %>
																True
															<%}%>
															</td>
															<td style="color: #fff;"><%= e.date %></td>
															<td>
																<a href="/dashboard/teacher/course/<%= e.course_id %>/sections" class="btn btn-sm btn-primary"><i class="la la-pencil"></i></a>
																<a onclick="deleteProfessor('<%= e.user_id%>')" href="javascript:void(0);" class="btn btn-sm btn-danger"><i class="la la-trash-o"></i></a>
															</td>												
														</tr>
													<% }) %>
												</tbody>
											</table>
										</div>
									</div>
                                </div>
                            </div>
							<div id="grid-view" class="tab-pane fade active show col-lg-12">
								<div class="row">
									<% data.forEach(e => { %>
										<div class="col-lg-4 col-md-6 col-sm-6 col-12">
											<div class="card card-profile">
												<div class="card-header justify-content-end pb-0" style="background-color: #262932;">
													<div class="dropdown">
														<button class="btn btn-link" type="button" data-toggle="dropdown">
															<span class="dropdown-dots fs--1"></span>
														</button>
														<div class="dropdown-menu dropdown-menu-right border py-0">
															<div class="py-2">
																<a class="dropdown-item" href="/dashboard/teacher/course/<%= e.course_id %>/sections">Edit</a>
																<a class="dropdown-item text-danger" onclick="deleteProfessor('<%= e.user_id%>')" href="javascript:void(0);">Delete</a>
															</div>
														</div>
													</div>
												</div>
												<div class="card-body pt-2">
													<div class="text-center">
														<div class="profile-photo">
															<img src="<%= e.thumbnail %>" width="200" class="img-fluid" alt="" style="position: relative; z-index: 1;">
														</div>
														<h3 class="mt-4 mb-1" style="color: #fff;"><%= e.title%></h3>
														<p class="text-muted" style="color: #828690;"><%= e.description%></p>
														<ul class="list-group mb-3 list-group-flush">
															<li class="list-group-item px-0 d-flex justify-content-between">
																<span class="mb-0" style="color: #828690;">title :</span><strong style="color: #828690;"><%= e.title %></strong></li>
															<li class="list-group-item px-0 d-flex justify-content-between">
																<span class="mb-0" style="color: #828690;">price:</span><strong style="color: #828690;"><%= e.price %></strong>
															</li>
															<li class="list-group-item px-0 d-flex justify-content-between">
																<span class="mb-0" style="color: #828690;">description:</span><strong style="color: #828690;"><%= e.description %></strong>
															</li>
															<li class="list-group-item px-0 d-flex justify-content-between">
																<span class="mb-0" style="color: #828690;">students apply :</span><strong style="color: #828690;"><%= e.students %></strong>
															</li>
															<li class="list-group-item px-0 d-flex justify-content-between">
																<span class="mb-0" style="color: #828690;">public course :</span><strong style="color: #828690;"><% if (e.public == 0) { %>
																	False
																	<% } else { %>
																		True
																	<%}%></strong>
															</li>
															<li class="list-group-item px-0 d-flex justify-content-between">
																<span class="mb-0" style="color: #828690;">date created :</span><strong style="color: #828690;"><%= e.date %></strong>
															</li>
														</ul>
														<a class="btn btn-outline-primary btn-rounded mt-3 px-4" href="professor-profile.html">Read More</a>
													</div>
												</div>
											</div>
										</div>
									<% }) %>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright" style="background-color: #262932;">
                <p style="color: #fff;">Copyright © Designed &amp; Developed by <a href="../index.htm" target="_blank">AlBrmagawi</a> 2023</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

		<!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/vendor/global/global.min.js"></script>
	<script src="/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="/js/custom.min.js"></script>
    <script src="/js/dlabnav-init.js"></script>	
	
	<!-- Datatable -->
    <script src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/js/plugins-init/datatables.init.js"></script>
	
    <!-- Svganimation scripts -->
    <script src="/vendor/svganimation/vivus.min.js"></script>
    <script src="/vendor/svganimation/svg.animation.js"></script>
    <script src="/js/styleSwitcher.js"></script>
	<script>

		async function deleteProfessor(user_id){
			console.log(user_id)
			const worning = confirm('are you sure?');
			if(worning){
				const response = await fetch(`/dashboard/admin/delete-staff?user_id=${user_id}`, {
                method : "DELETE",
                credentials :"include",
            });
			}
		}
	</script>
</body>
</html>